<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>The following parking meter receipt has shown up at www.expiredmeterexchange.com</h1>
    <p>
      visit the site to claim this meter receipt<br/>
    </p>
    <p>
      rate : <%= @receipt.rate %><br/>
      total paid : <%= @receipt.total_paid %><br/>
      purchased_time : <%= @receipt.purchased_time %><br/>
      expiration_time : <%= @receipt.expiration_time %><br/>
</p>
  </body>
</html>
