<h1>These are all the parking tickets</h1>

<table>
  <tr>
    <th>Ticket Time</th>
    <th>Rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.cell_number %></td>
    <td><%= ticket.ticket_time %></td>
    <td><%= ticket.rate %></td>
  </tr>
<% end %>
</table>

