<h3>Enter your info. <br>Someone will contact you for your receipt<br>(Step 1 of 2)</h3>
<p>
<%= f.label :email %><br/>
<%= f.text_field :email %>
</p>
<p>
<%= f.label :cell_number %> ( Optional )<br/>
<%= f.text_field :cell_number %>
</p>
