<h3>Do you have an photo of your Meter Receipt?</h3>

<p> 
<%= image_tag("images/meterreceipt1.jpg") %>

<p>
Image is optional.  However it's so easy, and<br>
it will definitly make it easier to sell your receipt
</p>
<p>
<%= f.file_field :image %>
</p>

 
