<h3>Do you have an photo of your Meter Receipt?</h3>

<p> 
<%= image_tag("images/meterreceiptexample.jpg") %>

</p>
<p>
<%= f.file_field :image %>
</p>
<p>
Image is optional.  However it's so easy, and<br>
people will more likely buy your receipt.
</p>

 
